table{

color : blue;
border: 3px red solid;
background-color : black;
border-radius: 10px;

}

td{
	border: 1px black solid;
	border-width: 2px;
	padding: 10px;
	border-radius: 20px;
	background-color : #97DB9A;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}